.important {
  color: green;
  font-weight: bold;
}
.subhead {
  font-family: sans-serif;
  font-weight: lighter;
}
.unimportant {
  font-style: italic;
  color: purple;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  body {
    background-color: black;
    color: white;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  body {
    background-color: red;
    color: white;
  }
}
